div
  color black

.graticule
  fill none
  stroke #aaa
  stroke-width 1px
  stroke-dasharray 2,2
  pointer-events: none

.background
  fill: #AFE6F0
  pointer-events: none

rect.drag-mouse-target
  fill transparent
  cursor move

path.mouse-position
  stroke-width 2px
  stroke darken(red, 10%)
  fill red

g.map
  all: inherit
  pointer-events none

g.drag-overlay
  pointer-events: all
