div
  color black

.graticule
  fill none
  stroke #aaa
  stroke-width 1px
  stroke-dasharray 2,2

.background
  fill: #AFE6F0

rect.drag-mouse-target
  fill transparent
  cursor move

path.mouse-position
  stroke-width 2px
  stroke darken(red, 10%)
  fill red

g.map
  all: inherit
