html, body
  margin: 0
  width: 100%
  position relative

.control-panel
  margin: 1em
  position absolute
  top 1em
  right 1em
  width 20em
  background white
  padding 1em

.world-map
  width: 100%
  height: 100vh

plate_color=#888

g.plates path
  fill: alpha(plate_color,0.2)
  stroke: alpha(plate_color, 0.8)
  stroke-width: 1px
  outline: none
  pointer-events: auto
  &:hover
    fill: alpha(plate_color,0.5)
    stroke-width: 1px
    outline: none

land_color=#E9FCEA
g.ne_110m_land
  path
    fill land_color
    stroke darken(land_color, 10%)
    stroke-width: 1px
